---
import { Image } from "astro:assets";
import communityImage from "../../images/core-value-logos/People.png";
import empowermentImage from "../../images/core-value-logos/empowerment.png";
import excellenceImage from "../../images/core-value-logos/excellence.png";
import teamworkImage from "../../images/core-value-logos/teamwork.svg";
---

<div class="py-12 flex flex-col gap-6">
  <h4
    class="uppercase text-center text-xl md:text-2xl lg:text-3xl font-extrabold"
  >
    Our Core Values
  </h4>

  <p class="text-center px-4 lg:px-0 md:px-2">
    These values guide everything we do at VIDI. They serve as the foundation <br
    /> of our organization, shaping our actions and decisions as we strive for positive
    change.
  </p>

  <div class="flex flex-col lg:flex-row md:flex-row gap-4 justify-evenly">
    <div class="flex flex-col gap-4 justify-center items-center" id="community">
      <Image
        src={communityImage}
        alt="community"
        class="h-[70px] w-[70px] md:h-[100px] md:w-[100px] lg:h-[150px] lg:w-[150px]"
      />
      <p class="text-lg lg:text-xl">Community</p>
    </div>
    <div
      class="flex flex-col gap-4 justify-center items-center"
      id="empowerment"
    >
      <Image
        src={empowermentImage}
        alt="empowerment"
        class="h-[70px] w-[70px] md:h-[100px] md:w-[100px] lg:h-[150px] lg:w-[150px]"
      />
      <p class="text-lg lg:text-xl">Empowerment</p>
    </div>
    <div
      class="flex flex-col gap-4 justify-center items-center"
      id="excellence"
    >
      <Image
        src={excellenceImage}
        alt="excellence"
        class="h-[70px] w-[70px] md:h-[100px] md:w-[100px] lg:h-[150px] lg:w-[150px]"
      />
      <p class="text-lg lg:text-xl">Excellence</p>
    </div>
    <div class="flex flex-col gap-4 justify-center items-center" id="teamwork">
      <Image
        src={teamworkImage}
        alt="teamwork"
        class="h-[70px] w-[70px] md:h-[100px] md:w-[100px] lg:h-[150px] lg:w-[150px]"
      />
      <p class="text-lg lg:-xl">Teamwork</p>
    </div>
  </div>
</div>

<script>
  import { animate, onScroll, utils, stagger } from "animejs";

  const [container] = utils.$("#scroll-container");

  animate(["#community", "#empowerment", "#excellence", "#teamwork"], {
    scale: {
      from: 0.3,
      to: 1,
    },
    translateX: {
      from: "-10px",
      to: "0",
    },
    delay: stagger(200),
    duration: 700,
    autoplay: onScroll({ container }),
  });
</script>
