<div
  class="h-[900px] bg-[url(../images/hero-image.png)] relative bg-no-repeat bg-cover flex flex-col text-white justify-center"
  id="first-hero"
>
  <div class="h-full w-full absolute left-0 top-0 bg-black opacity-75 z-0">
  </div>
  <div
    class="flex flex-col gap-16 z-10 pt-40 lg:pt-0 md:pt-5 justify-around px-10"
  >
    <div
      class="flex flex-col gap-4 text-lg md:text-lg lg:text-2xl text-center self-start"
    >
      <p>We are on a mission to</p>
      <p class="text-lg md:text-2xl lg:text-4xl font-semibold">
        Inspire, Empower, <span
          class="text-md md:text-lg lg:text-2xl font-normal">&</span
        >{" "}
        Educate
      </p>
      <p class="text-lg md:text-2xl lg:text-4xl font-semibold">
        Every Woman <span class="text-md md:text-lg lg:text-2xl font-normal"
          >&</span
        > Child{" "}
        <span class="text-md md:text-lg text-2xl font-normal">in</span> Africa.
      </p>
    </div>

    <div
      class="flex flex-col gap-4 self-end text-lg md:text-2xl lg:text-2xl text-center"
    >
      <p>
        Founded in <span class="text-lg md:text-2xl lg:text-4xl font-semibold"
          >2013</span
        > by{" "}
        <span class="text-lg md:text-2xl lg:text-4xl font-semibold">
          Onyinyechi J. Nwosu-OJN,
        </span>
      </p>
      <p>
        <span class="text-lg md:text-2xl lg:text-4xl font-semibold">VIDI</span> was
        born out of a deep-seated desire to{" "}
        <span class="text-lg md:text-2xl lg:text-4xl font-semibold"
          >address</span
        >
      </p>
      <p>
        the{" "}
        <span class="text-lg md:text-2xl lg:text-4xl font-semibold"
          >challenges hindering</span
        >{" "}
        the <span class="text-lg md:text-2xl lg:text-4xl font-semibold"
          >development</span
        >
      </p>
      <p>
        & <span class="text-lg md:text-2xl lg:text-4xl font-semibold"
          >well-being</span
        > of{" "}
        <span class="text-lg md:text-2xl lg:text-4xl font-semibold">girls</span>
        in our communities
      </p>
    </div>
  </div>
</div>

<script>
  import { animate, utils, onScroll } from "animejs";

  const [container] = utils.$("#scroll-container");

  

  animate("#first-hero", {
    opacity: {
      from: 0,
      to: 1,
    },
    alternate: true,
    repeat: true,
    // loop: true,
    duration: 2000,
    autoplay: onScroll({ container }),
  });
</script>
