---
import { Image } from "astro:assets";
import founderImage from "../../images/our-team-images/founder.png";
---

<div class="flex flex-col gap-10">
  <h4 class="uppercase text-center text-3xl font-extrabold">Our Team</h4>

  <div class="flex flex-col lg:flex-row justify-around items-center">
    <Image src={founderImage} alt="founder" />
    <div class="flex flex-col gap-10 text-center pt-5 px-4">
      <p>
        <span class="font-semibold">Amb. Onyinyechi Joy Nwosu</span> - Founder, Vivacious
        Development Initivative
      </p>
      <p>
        Amb. Onyinyechi Joy Nwosu’s childhood was a blend of sweetness and
        hardship. Despite <br /> her family's love, she faced the burden of societal
        stigma, being seen as an "unwanted <br /> existence." Determined to change
        this narrative, Onyinyechi embarked on a journey of <br />
        empowerment.
      </p>
      <p>
        Onyinyechi is dedicated to advancing and protecting the rights of women,
        girls, and children <br /> across Africa. Born in Abia State, Nigeria, her
        experiences growing up in a family committed <br /> to strong values and
        community service inspired her lifelong commitment to these causes.
      </p>
      <p>
        Onyinyechi, with a BA in English and Literature from the University of
        Benin and <br /> certifications in mentorship and entrepreneurship, began
        her career coaching young girls. <br /> This path led to the founding of
        VIDI.
      </p>
      <p>
        Her vision for VIDI is to create an Africa where women and children are
        free from sexual and <br /> gender-based violence and their rights are fully
        recognized and protected. Under her <br />{" "}
        leadership, VIDI has developed strong partnerships with religious and educational
        leaders <br />, and has made significant strides in advocacy and project
        implementation.
      </p>
      <p>
        Onyinyechi is also a prolific author, known for her books on responsible
        parenting and <br /> sexual abuse prevention. Her passionate advocacy and
        vocal stance on these issues have <br />{" "}
        earned her the affectionate title of "Madam Sexual Abuse" among her peers
        and supporters. <br /> As a public speaker, she has represented VIDI at numerous
        events, workshops, and CSO <br />{" "}
        meetings, sharing her expertise and inspiring others to join the cause. <br
        /> Through her dedicated efforts, Onyinyechi continues to inspire, empower,
        and educate <br /> women and children, fostering a safer and more equitable
        society
      </p>
    </div>
  </div>
  <h5 class="text-center lg:text-xl pb-10">
    At Vivacious Development Initiative (VIDI), our team is driven by a shared
    passion for <br /> empowering women and children across Africa. Get to know the
    dedicated individuals <br /> behind our mission:
  </h5>
</div>
