---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

import "@fontsource-variable/roboto";
import MobilePane from "../components/MobilePane.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="src/images/vidi-logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <BaseHead title={title} />
  </head>
  <body class="relative" id="scroll-container">
    <Navbar />
    <slot />
    <Footer />
    <MobilePane />
  </body>
</html>
